@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 5.625rem;
  }

  html {
    @apply scroll-smooth antialiased;
  }

  html,
  body {
    @apply h-full max-w-[100vw] overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply uppercase;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }
}

@layer components {
  .container {
    --padding: 1rem;
    --max-width: 90rem;

    width: min(100% - calc(var(--padding) * 2), var(--max-width));
    margin-inline: auto;

    @apply md:[--padding:1.5rem] lg:[--padding:2rem] 2xl:[--padding:3rem];
  }
  .btn {
    @apply inline-block cursor-pointer select-none whitespace-nowrap px-[1.9rem] py-[0.94rem] text-center text-xs uppercase tracking-[0.0625rem] transition duration-300 ease-in-out;

    &-primary {
      @apply bg-orange text-neutral-100;

      &:hover {
        @apply bg-orange-light;
      }
    }

    &-secondary {
      @apply border border-neutral-900 bg-transparent px-[calc(1.9rem-1px)] py-[calc(0.94rem-1px)]  text-neutral-900;

      &:hover {
        @apply bg-neutral-900 text-neutral-100;
      }
    }

    &-secondary-alt {
      @apply bg-neutral-900 text-neutral-100;

      &:hover {
        @apply bg-neutral-600;
      }
    }

    &-simple {
      @apply inline-flex items-center justify-center gap-[0.83rem] text-neutral-900/50;

      &:hover {
        @apply text-orange;
      }
    }
  }
}

@layer utilities {
  .full-bleed {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .no-bleed {
    width: auto;
    position: unset;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
